@model Idea.Models.NIdea

@{
    ViewData["Title"] = "Details";
    var Comments = (List<Comment>)ViewData["Comments"];
}

<style>
    body{
        background-color: #cdf2ee;
    }
</style>

<h1>Details</h1>

<div>
    <h4>NIdea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="margin-bottom: 10px;">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10" style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2" style="margin-bottom: 10px;">
            @Html.DisplayNameFor(model => model.Brief)
        </dt>
        <dd class="col-sm-10" style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.Brief)
        </dd>

        <dt class="col-sm-2" style="margin-bottom: 10px;">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10" style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt class="col-sm-2" style="margin-bottom: 10px;">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class="col-sm-10" style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <dt class="col-sm-2" style="margin-bottom: 10px;">
            @Html.DisplayNameFor(model => model.View)
        </dt>
        <dd class="col-sm-10" style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.View)
        </dd>

        <dt class="col-sm-2" style="margin-bottom: 10px;">
            @Html.DisplayNameFor(model => model.Submission)
        </dt>
        <dd class="col-sm-10" style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.Submission.Id)
        </dd>

        <dt class="col-sm-2" style="margin-bottom: 10px;">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10" style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>

        <dt class="col-sm-2" style="margin-bottom: 10px;">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10" style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>

@if (Model.Submission.Deadline_2 >= DateTime.Now)
{
    <form class="input-group mb-3" asp-action="Comment">
        <input type="hidden" name="IdeaId" value="@Model.Id" />
        <input type="text" class="form-control" placeholder="Comment" name="Content" style="margin-right: 10px;">
        <button class="btn btn-outline-success" type="submit">Comment</button>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Comments.Select((comment, index) => new { comment, index }))
        {
            <tr style="background-color:@(comment.index % 2 == 0 ? "#f9f9f9" : "#fff");">
                <td style="margin-bottom: 10px;">@comment.comment.Created_Date</td>
                <td style="margin-bottom: 10px;">@comment.comment.Content</td>
            </tr>
        }
    </tbody>
</table>

<hr />

<div>
    <a asp-action="ViewIdeas" asp-route-submissionid="@Model.SubmissionId" class="btn btn-secondary" style="margin-top: 10px;">Back to List of Ideas</a>
</div>
